transformers
accelerate
torch
langchain
langchain-openai
langchain-community
fastapi
uvicorn[standard]
python-multipart
Pillow
requests
langchain-core
python-dotenv
pydantic
openai
huggingface-hub
safetensors
tokenizers
numpy
tqdm

streamlit
